<p>
  <a [href]="'https://www.npmjs.com/package/@ngx-lite/' + package" class="badge" target="_blank" rel="noopener">
    <img [src]="'https://badge.fury.io/js/%40ngx-lite%2F' + package + '.svg'" alt="npm version">
  </a>
  &nbsp;
  <a href="https://travis-ci.org/coryrylan/ngx-lite" class="badge" target="_blank" rel="noopener">
    <img src="https://travis-ci.org/coryrylan/ngx-lite.svg?branch=master" alt="build status" />
  </a>
  &nbsp;
  <a [href]="'https://bundlephobia.com/result?p=@ngx-lite/' + package" target="_blank" rel="noopener">
    <img [src]="'https://img.shields.io/bundlephobia/minzip/@ngx-lite/' + package + '.svg'" alt="npm bundle size (minified + gzip)">
  </a>
  &nbsp;
  <a [href]="'https://stackblitz.com/edit/' + stackblitzId" class="badge" target="_blank" rel="noopener">
    <img src="/assets/images/stackblitz-demo.svg" alt="Stackblitz Demo" />
  </a>
</p>