<p>
  <a [href]="'https://www.npmjs.com/package/@ngx-lite/' + package" class="badge">
    <img [src]="'https://badge.fury.io/js/%40ngx-lite%2F' + package + '.svg'" alt="npm version">
  </a>

  <a href="https://travis-ci.org/coryrylan/ngx-lite" class="badge">
    <img src="https://travis-ci.org/coryrylan/ngx-lite.svg?branch=master" alt="build status" />
  </a>

  <a [href]="'https://stackblitz.com/edit/' + stackblitzId" class="badge">
    <img src="/assets/images/stackblitz-demo.svg" alt="Stackblitz Demo" />
  </a>
</p>