.btn {
  padding: 10px 16px;
  margin-bottom: 2px;
  display: inline-block;
  border: 0;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: $color-white;
  background-color: lighten($color-primary, 8%);
  cursor: pointer;

  &:hover {
    background-color: lighten($color-primary, 12%);
  }
}

.btn-white {
  border-color: $color-white;
  color: $color-white;
}

.btn-large {
  padding: 15px 40px;
  font-size: 20px;
}
