$color-primary: #2d2d2d;
$color-secondary: #db0b37;
$color-white: #fff;
$color-type: #2d2d2d;
$color-red: #c05361;
$color-grey-light: #ccc;
$color-demo-border: #e4e4e4;
$color-demo: #f7f7f7;
$color-active-link: #f2f2f2;
$nav-break: 1024px;