$nav-break: 1024px;
$container-width: 1500px;

$color-primary: #db0735;
$color-secondary: #3d3d3d;
$color-white: #fff;
$color-type: #2d2d2d;
$color-red: #c05361;
$color-grey-light: #ccc;
$color-demo-border: #e4e4e4;
$color-demo: #f7f7f7;
$color-active-link: #f2f2f2;
$color-border: #ccc;
$color-border-light: #f6f6f6;
