@import './../../styles/_base';

ngx-input-timepicker {
  display: block;
  --color-button: #{$color-primary};
  --color-text: #{$color-primary};
}

.ngx-input-timepicker {
  display: flex;
  flex-direction: row;
  font-size: 1.286em;
  align-items: center;
  color: var(--color-text);

  &__btn {
    border: 0;
    background: 0 0;
    color: var(--color-button);;
    cursor: pointer;
    padding: 5px 10px;
  }

  &__container {
    flex-direction: column;
    text-align: center;
  }
}
