.test-row {
  padding: 12px;
  margin-bottom: 12px;
  color: #fff;
  background-color: #4a4a4a;
  display: block;

  &.ngx-eq-xs {
    background-color: #a929ad;
  }

  &.ngx-eq-sm {
    background-color: #ff353b;
  }

  &.ngx-eq-md {
    background-color: #3f49e8;
  }

  &.ngx-eq-lg {
    background-color: #48b04d;
  }
}

.container--xs {
  max-width: 270px;
}

.container--sm {
  max-width: 480px;
}

.container--md {
  max-width: 720px;
}

.container--lg {
  max-width: 960px;
}

.grid {
  display: grid;
  grid-gap: 16px;
  margin-bottom: 16px;

  &.ngx-eq-md {
    grid-template-columns: repeat(2, 1fr);
  }

  &.ngx-eq-lg {
    grid-template-columns: repeat(4, 1fr);
  }
}

.col {
  background-color: #ccc;
  text-align: center;
  padding: 12px;
}
