<header class="header">
  <nav class="header-nav">
    <a routerLink="/" class="logo">
      <img src="/assets/images/feather.svg" alt="ngx-lite" />
      <div class="header-nav__link">ngx-lite</div>
    </a>

    <button (click)="show = !show" class="header-nav__nav-drawer-btn" aria-label="open menu">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 459 459">
        <path d="M0 382.5h459v-51H0v51zM0 255h459v-51H0v51zM0 76.5v51h459v-51H0z" fill="#FFF" />
      </svg>
    </button>
    <a href="https://github.com/coryrylan/ngx-lite" class="header-nav__link">Github</a>
    <a routerLink="/about" class="header-nav__link">About</a>
  </nav>
</header>

<ngx-nav-drawer [(open)]="show" [fixed]="true">
  <a routerLink="/">Home</a>
  <a routerLink="/docs">Getting Started</a>
  <a routerLink="/about">About</a>
  <hr>
  <a routerLink="/docs/input-range" routerLinkActive="active-link">input-range</a>
  <a routerLink="/docs/input-star-rating" routerLinkActive="active-link">input-star-rating</a>
  <a routerLink="/docs/input-switch" routerLinkActive="active-link">input-switch</a>
  <a routerLink="/docs/input-datepicker" routerLinkActive="active-link">input-datepicker</a>
  <a routerLink="/docs/input-tag" routerLinkActive="active-link">input-tag</a>
  <a routerLink="/docs/modal" routerLinkActive="active-link">modal</a>
  <a routerLink="/docs/loaders" routerLinkActive="active-link">loaders</a>
  <a routerLink="/docs/progress" routerLinkActive="active-link">progress</a>
  <a routerLink="/docs/nav-drawer" routerLinkActive="active-link">nav-drawer</a>
  <a routerLink="/docs/tabs" routerLinkActive="active-link">tabs</a>
  <a routerLink="/docs/eq" routerLinkActive="active-link">eq</a>
  <a routerLink="/docs/debounce-click" routerLinkActive="active-link">debounce-click</a>
  <a routerLink="/docs/in-viewport" routerLinkActive="active-link">in-viewport</a>
  <a routerLink="/docs/json-ld" routerLinkActive="active-link">json-ld</a>
  <a routerLink="/docs/code-example" routerLinkActive="active-link">code-example</a>
  <!-- <a routerLink="/docs/carbon-ad" routerLinkActive="active-link">carbon-ad</a> -->
</ngx-nav-drawer>

<main [@fadeAnimation]="getRouterOutletState(o)">
  <router-outlet #o="outlet"></router-outlet>
</main>