<header class="header">
  <nav class="header-nav">
    <a routerLink="/" class="header-nav__link logo">ngx-libraries</a>
    <a href="https://github.com/coryrylan/ngx-libraries" class="header-nav__link">Github</a>
    <a routerLink="/about" class="header-nav__link">About</a>
  </nav>
</header>

<ngx-nav-drawer [(open)]="show" [fixed]="true">
  <a routerLink="/">docs</a>
  <hr>
  <a routerLink="/docs/ngx-debounce-click">ngx-debounce-click</a>
  <a routerLink="/docs/ngx-code-example">ngx-code-example</a>
  <a routerLink="/docs/ngx-eq">ngx-eq</a>
  <a routerLink="/docs/ngx-in-viewport">ngx-in-viewport</a>
  <a routerLink="/docs/ngx-input-range">ngx-input-range</a>
  <a routerLink="/docs/ngx-input-star-rating">ngx-input-star-rating</a>
  <a routerLink="/docs/ngx-input-switch">ngx-input-switch</a>
  <a routerLink="/docs/ngx-input-tag">ngx-input-tag</a>
  <a routerLink="/docs/ngx-json-ld">ngx-json-ld</a>
  <a routerLink="/docs/ngx-loaders">ngx-loaders</a>
  <a routerLink="/docs/ngx-nav-drawer">ngx-nav-drawer</a>
</ngx-nav-drawer>

<main>
  <router-outlet></router-outlet>
</main>