<div class="background">
  <div class="container">
    <div bp="grid">
      <div bp="8@md">
        <h1>ngx-lite</h1>
        <h2>A collection of lightweight Angular components and libraries.</h2>
        <a routerLink="/docs" class="btn btn-white btn-large">Get Started</a>
      </div>
      <div bp="4@md">
        <ngx-carbon-ad siteName="coryrylancom" bp="margin-top--lg"></ngx-carbon-ad>
      </div>
    </div>

    <!-- <img src="/assets/images/earth.svg" class="earth" alt="earth">
    <img src="/assets/images/comet.svg" class="comet" alt="comet">
    <img src="/assets/images/comet.svg" class="comet2" alt="comet"> -->
  </div>
</div>

<section bp="grid" class="container">
  <div bp="4@md">
    <img src="/assets/images/feather-dark.svg" alt="lightweight">
    <h2>Lightweight</h2>
    <p>
      Each component/library is a stand alone npm package so you only install what you need to use.
    </p>
  </div>
  <div bp="4@md">
    <img src="/assets/images/square.svg" alt="lightweight">
    <h2>Productive</h2>
    <p>Components designed to be fully compatible with Angular and get you up and running quickly.</p>
  </div>
  <div bp="4@md">
    <img src="/assets/images/github.svg" alt="lightweight">
    <h2>Open Source</h2>
    <p>
      100% open source MIT license hosted on Github
    </p>
  </div>
</section>