@import './../../styles/_config';

$large-break: 1600px;

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.background {
  background-color: darken($color-secondary, 3%);
  color: $color-white;
  margin-bottom: 16px;
  overflow: hidden;
  width: 100%;
  position: relative;
  min-height: 400px;
  padding: 40px 40px 15px 40px;
  margin: -24px 0 60px -24px;
  width: calc(100% + 24px);
  z-index: 1;

  @media (min-width: $nav-break) {
    width: calc(100% + 48px);
  }

  @media (min-width: $large-break) {
    min-height: 460px;
  }
}

h1,
h2 {
  max-width: 550px;
  z-index: 2;
  position: relative;
  font-size: 3em;
  line-height: 40px;
}

h2 {
  margin-bottom: 48px;
  font-size: 2.2em;
}

ngx-carbon-ad {
  z-index: 2;
  position: relative;
}

section {
  text-align: center;

  img {
    width: 100%;
    max-width: 100px;
    margin: 0 auto 12px auto;
  }
}
